# Python

In [1]:
import sqlite3

In [4]:
conn = sqlite3.connect("survey.db")
cursor = conn.cursor()
cursor.execute("SELECT Site.lat, Site.long FROM Site;")
results = cursor.fetchall()
for r in results:
    print(r)
cursor.close()
conn.close()

(-49.85, -128.57)
(-47.15, -126.72)
(-48.87, -123.4)

In [6]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.1.3-cp311-cp311-macosx_10_9_x86_64.whl.metadata (18 kB)
Collecting numpy<2,>=1.23.2 (from pandas)
  Downloading numpy-1.26.2-cp311-cp311-macosx_10_9_x86_64.whl.metadata (61 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 61.2/61.2 kB 1.2 MB/s eta 0:00:00 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/alecchapman/opt/miniconda3/envs/delphi-sql/lib/python3.11/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2023.3.post1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 341.8/341.8 kB 3.8 MB/s eta 0:00:00m eta 0:00:010:01
Requirement already satisfied: six>=1.5 in /Users/alecchapman/opt/miniconda3/envs/delphi-sql/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.1.3-cp311-cp311-macosx_10_9_x86_64.whl (11.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.6/11.6 MB 20.2 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Downloading numpy-1.26.2-cp311-cp311-macosx_10_9_x86_64.whl (20.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 20.6/20.6 MB 23.1 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Downloading pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 502.5/502.5 kB 13.3 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.26.2 pandas-2.1.3 pytz-2023.3.post1 tzdata-2023.3

In [7]:
import pandas as pd

In [9]:
conn = sqlite3.connect("survey.db")

In [13]:
site = pd.read_sql("SELECT Site.lat, Site.long FROM Site;", conn)

In [15]:
site.head()

     lat    long
0 -49.85 -128.57
1 -47.15 -126.72
2 -48.87 -123.40

In [29]:
survey = pd.read_sql("SELECT * FROM Survey", conn)

In [30]:
survey.head()

   taken person quant  reading
0    619   dyer   rad     9.82
1    619   dyer   sal     0.13
2    622   dyer   rad     7.80
3    622   dyer   sal     0.09
4    734     pb   rad     8.41

In [32]:
conn.close()